# Use >=2.12 for local run (2.12 not available on all platforms)
tensorflow>=2.12,<2.21
pandas 
dvc
mlflow>=2.9
opentelemetry-api
opentelemetry-sdk
cachetools
notebook
numpy
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask
Flask-Cors
gdown
-e .